<h2>Modification de la personne {{ num }}</h2>
<form action="" (ngSubmit)="enregistrer()">
  <div>
    <label for="nom">Nom</label>
    <input type="text" name="nom" id="nom" placeholder="Nom" required minlength="3" maxlength="20"
      [(ngModel)]="personne.nom">
  </div>
  <!-- <span class="textError">Le nom doit contenir entre 3 et 20 caractères</span> -->
  <div>
    <label for="prenom">Prénom</label>
    <input type="text" name="prenom" id="prenom" placeholder="Prénom" required minlength="3" maxlength="20"
      [(ngModel)]="personne.prenom">
  </div>
  <!-- <span class="textError">Le nom doit contenir entre 3 et 20 caractères</span> -->
  <button>Enregistrer</button>
</form>
