<h2>Formulaire</h2>
<form action="" id="formPersonne" #monForm="ngForm">
  <div>
    <label for="nom">Nom</label>
    <input type="text" name="nom" id="nom" placeholder="Nom" [(ngModel)]="personne.nom" required minlength="3"
      maxlength="20" #nom="ngModel">
  </div>
  <span [hidden]="nom.valid || nom.pristine" class="textError">Le nom doit contenir entre 3 et 20 caractères</span>
  <div>
    <label for="prenom">Prénom</label>
    <input type="text" name="prenom" id="prenom" placeholder="Prénom" [(ngModel)]="personne.prenom" required
      minlength="3" maxlength="20" #prenom="ngModel">
  </div>
  <span [hidden]="prenom.valid || nom.pristine" class="textError">Le nom doit contenir entre 3 et 20 caractères</span>
  <button (click)="ajouterPersonne()" type="submit" [disabled]="monForm.invalid">Envoyer</button>
</form>
<h2>Liste des personnes</h2>
<div id="formResponse">
  <ol>
    <li *ngFor="let p of personnes">{{p.nom}} {{p.prenom}}
      <button (click)="supprimerPersonne(p.num)"><i class="fa-solid fa-trash-can"></i></button>
      <a [routerLink]="['/cours/personne-details', p.num]"><i class="fa-regular fa-pen-to-square"></i></a>
    </li>
  </ol>
</div>
